.notes_list_container {
  height: var(--main-body-height);
  overflow-y: scroll;
}

/* width */
.notes_list_container::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.notes_list_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.notes_list_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

/* Handle on hover */
.notes_list_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.floating_icon {
  background: var(--secondary-color);
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
